<ion-content class="ion-padding">
    <div class="ion-text-center ion-margin-bottom">
      <h1>Contact me here</h1>
    </div>
    
    <ion-card class="ion-margin-bottom">
      <ion-card-header>
        <ion-card-title>Contact Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Mobile Number:</strong> 90244****6</p>
        <p><strong>Email:</strong> daksh919gmail.com</p>
      </ion-card-content>
    </ion-card>
  
    <div class="ion-text-center ion-margin-top">
      <ion-button href="https://www.instagram.com/kya.yaar.dushyant/" target="_blank" color="primary" class="ion-margin-end">
        <ion-icon name="logo-instagram"></ion-icon> Instagram
      </ion-button>
      <ion-button href="https://www.facebook.com/dushyant.suthar.1" target="_blank" color="primary" class="ion-margin-end">
        <ion-icon name="logo-facebook"></ion-icon> Facebook
      </ion-button>
      <ion-button href="mailto:daksh919@gmail.com" color="primary">
        <ion-icon name="mail"></ion-icon> Email
      </ion-button>
      <ion-button href="whatsapp://send?text=Hello%2C%20world!" color="success">
        Open WhatsApp
      </ion-button>
    </div>
  </ion-content>
  