
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.investment-details {
  display: inline-block;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.investment-details p {
  margin: 8px 0;
}

#centreDisplay {
  text-align: center;
}

.asc-indicator::before {
  content: ' ▲';
  color: green;
}

.desc-indicator::before {
  content: ' ▼';
  color: red;
}


table {
  width: 75%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

#seeAmountButton {
  background-color: #3498db;
  color: #fff;
  padding: 3px 10px;
  font-size: 14px;
  border: 1px solid #2980b9;
  border-radius: 5px;
}

#seeAmountButton:hover {
  background-color: #2980b9;
  color: #fff;
  border-color: #3498db;
}

.button-cell button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}

.button-cell button:hover {
  background-color: #45a049;
}

.button-cell button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button-cell button:disabled:hover {
  background-color: #45a049;
}

.warning-row {
  font-size: 16px;
  color: red
}

marquee {
  font-family: 'Arial', sans-serif;
  /* Set your desired font family */
  font-size: 18px;
  /* Set your desired font size */
  color: black;
  /* Set your desired text color */
  background-color: white;
  /* Set your desired background color */
  padding: 15px;
  /* Set your desired padding */
  border: 2px solid #3498db;
  /* Set your desired border */
  border-radius: 10px;
  /* Set your desired border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Set your desired box shadow */
}